@import "list";

@mixin card-mixin($bg: $bg-color) {
    display: grid;
    background-color: $bg;
    border-radius: 4px;
    border: 1px solid $j-color;
    height: 200px;
    width: 150px;
    margin-bottom: 20px;
}

.card {
    @include card-mixin();
}

.red-one {
    @include card-mixin(red);
    background-image: url("#{nth($images,2)}");
}