$sizes:5 10 15 20;
$images: ("https://picsum.photos/id/237/200/300", "https://picsum.photos/id/238/200/300");

.mt-5 {
    margin-top: #{nth($sizes,1)};
}

.card-bcg-img {
    background-image: url(#{nth($images,1)});
}


// @each $size in $sizes {
//     .mt-#{$size} {
//         margin-top: #{$size}px;
//     }
// }
